html, body {   /*想要选择2个元素，选择器中间以,隔开*/
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300; /*控制文字的粗细*/
  line-height: 1.5;
}


body {
  font-family: 'Lato', sans-serif;
  background-image: url('images/background.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
}

a {
  color: #204156;
  text-decoration: none;
}

.page-title {
  text-align: center; /*文本居中*/
  font-weight: 100;
}

.page-description {
 border: 3px solid red;
    margin:20px;
  /*请学生创建并调整：外边距*/
  text-align: center;
    padding:10px 20px 30px 40px;
  /*请学生创建并调整：内边距*/
}

.gallery {
    margin-top:30px;
    display: flex;
     flex-wrap:wrap; 
    justify-content:center;
  /*请学生创建并调整：外边距-上*/
    /*请学生将该元素的display调整为:flex*/
    /*请学生防止图片跑出该元素的范围之外*/
    /*请学生将图片居中*/
    
}

.gallery-item {
    margin: 10px;
  /*请学生创建并调整：外边距-全方向*/
}

.gallery-item .thumbnail {
    border: 2px dashed black;
  /*请学生创建：边框*/
}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
    display: inline;
  /*请学生将display设为inline*/
  margin: 0;
    padding: 0px 20px;
  /*请学生创建并调整：左右内边距自定，上下内边距为0*/
}

nav ul {
  display: inline;
}

.contact-btn {
    float: right;
  /*请学生设置float-右*/
}

.contact-btn a {
    border: 4px dotted blue;
  cursor: pointer;
    padding: 10px 30px;
    margin-right:30px;
        position: relative;
    margin-right:3px;
  /*请学生创建并调整：外边距-右*/
  /*请学生设置：内边距-上下，左右*/
  /*请学生创建：边框*--/
  /*请学校将position设置为relative*/
}

.contact-btn a:active {
    float:left;
    margin-right:3px;
    
/*请学生将按下该按钮后，该元素进行相对位移的位置进行设置*/
}

nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
}


figcaption{
    
    text-decoration:center;
    
}